@model CheeseMVC.ViewModels.AddMenuViewModel
@{
    ViewBag.Title = "New Menu";
}
<h2>@ViewBag.title</h2>

<form asp-controller="Menu" asp-action="Add">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <input type="submit" value="Add Menu" />
</form>